@using FormBuilderDTO.DTOs.UserSubmitDetails
@model GetDataSubmittedByUserResponse

@{
    ViewData["Title"] = "User data";
}

<h4>User - @Model.UserSubmitDetails.UserId submitted (@Model.Survey.Title) on @Model.UserSubmitDetails.DateCreatedBy</h4>
<hr />

<div class="container body-content border p-3 mt-4 mb-4">

    <table class="table table-hover table-striped-columns table-bordered table-responsive">
        <thead class="table-dark text-center">
            <tr>
                <th>
                    Label
                </th>
                <th>
                    Value
                </th>
            </tr>
        </thead>
        <tbody class="text-center">
            @if (Model.UserDatas is not null)
            {
                @foreach (var item in Model.UserDatas)
                {
                    <tr>
                        <td>
                            @item.Label
                        </td>
                        <td>
                            @item.Value
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
