@using FormBuilderMVC.Controllers
@using FormBuilderMVC.DTOs.Response
@using FormBuilderMVC.Utilities
@model GetAllSurveysResponse

@{
    ViewData["Title"] = "Surveys";
}

<h4>Survey List</h4>
<hr />

<div class="container body-content border p-3 mt-4 mb-4">

    <div class="row mb-3">
        <div class="col-md-2">
            <a asp-action="@nameof(SurveyController.CreateSurvey)" asp-controller="@StringHelper.ExtractControllerName(typeof(SurveyController))" class="btn btn-warning">Create survey</a>
        </div>
    </div>

    <table border="1" class="table table-bordered table-responsive">
        <thead>
            <tr class="btn-primary">
                <th>
                    Title
                </th>
                <th>
                    Open Date
                </th>
                <th>
                    End Date
                </th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Surveys is not null)
            {
                @foreach (var item in Model.Surveys)
                {
                    <tr>
                        <td>
                            @item.Title
                        </td>
                        <td>
                            @item.OpenDate
                        </td>
                        <td>
                            @item.EndDate
                        </td>
                        <td>
                            <a asp-action="@nameof(SurveyController.SurveyDashboard)" asp-controller="@StringHelper.ExtractControllerName(typeof(SurveyController))" asp-route-id="@item.Id">View</a> |
                            <a asp-action="@nameof(SurveyController.EditSurvey)" asp-controller="@StringHelper.ExtractControllerName(typeof(SurveyController))" asp-route-id="@item.Id">Edit</a> |
                            <a asp-action="@nameof(SurveyController.DeleteSurvey)" asp-controller="@StringHelper.ExtractControllerName(typeof(SurveyController))" asp-route-id="@item.Id">Delete</a> |
                            <a asp-action="@nameof(FormBuilderController.PreviewSurvey)" asp-controller="@StringHelper.ExtractControllerName(typeof(FormBuilderController))" asp-route-surveyId="@item.Id">Preview</a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
