@using FormBuilderMVC.DTOs.Base
@model List<InputsDto>

<table border="1" class="table table-bordered table-responsive">
    <thead>
        <tr class="btn-primary">
            <th>Id</th>
            <th>Survey Id</th>
            <th>Input type</th>
            <th>Internal name</th>
            <th>Label</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @if (Model is not null && Model.Any())
        {
            foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.Id
                    </td>
                    <td>
                        @item.SurveyId
                    </td>
                    <td>
                        @item.InputType
                    </td>
                    <td>
                        @item.InternalName
                    </td>
                    <td>
                        @item.Label
                    </td>
                    <td>
                        <a asp-action="EditInput" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="DeleteInput" asp-route-id="@item.Id" asp-route-surveyId="@item.SurveyId">Delete</a>
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="6" class="text-center">
                    No data to list
                </td>
            </tr>
        }
    </tbody>
</table>