@page "/CreateSurvey"
@using FormBuilderBLAZOR.Components.Pages.Input
@rendermode InteractiveServer

<h3>Create Survey</h3>

<EditForm Model="@_createSurveyRequest" OnValidSubmit="@AddSurvey">
    <ObjectGraphDataAnnotationsValidator />
    <ValidationSummary/>

    <SurveyCreateAndEdit Survey="@_createSurveyRequest.Survey"></SurveyCreateAndEdit>

    <InputsTable Inputs="@_createSurveyRequest.Inputs" ControlsList="@ControlsList" AddInput="@AddInput" RemoveInput="@RemoveInput"></InputsTable>

    <div class="form-group mb-4">
        <button type="submit" class="btn btn-primary">Create survey</button>
    </div>

</EditForm>