@using FormBuilderMVC.Controllers
@using FormBuilderMVC.DTOs.Base
@using FormBuilderMVC.Utilities
@model List<InputsDto>

<table border="1" class="table table-bordered table-responsive">
    <thead>
        <tr class="btn-primary">
            <th>Order no</th>
            <th>Control Id</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @if (Model is not null && Model.Any())
        {
            foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.OrderNo
                    </td>
                    <td>
                        @item.ControlId
                    </td>
                    <td>
                        <a asp-action="@nameof(InputController.EditInput)" asp-controller="@StringHelper.ExtractControllerName(typeof(InputController))" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="@nameof(InputController.DeleteInput)" asp-controller="@StringHelper.ExtractControllerName(typeof(InputController))" asp-route-id="@item.Id" asp-route-surveyId="@item.SurveyId">Delete</a>
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="6" class="text-center">
                    No data to list
                </td>
            </tr>
        }
    </tbody>
</table>